@{
    ViewBag.Title = "Email Verification";
    Layout = "";
}


    <div class="container">

        <!--Content-->
        <div class="panel" style="padding-top:100px; padding-bottom:500px;">
            <div class="d-flex justify-content-center ">

                <center>
                    <h2>Verification Email with login details has been sent to the Company's email address provided. Kindly confirm your email</h2>
                    <a class="btn btn-sm btn-warning text-white" asp-controller="Account" asp-action="Login">Go to Login </a>
                </center>
            </div>
        </div>


    </div>