
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "";
}

    <div class="container">

        <div style="padding-top:100px; padding-bottom:400px;">
            <center><h2>@ViewData["Title"]</h2></center>
            <center>
                <p>
                    Please check your email to reset your password.
                </p>
                <a href="/Account/Login">Go to Login </a>
            </center>
        </div>

    </div>