

@using DGSWeb.ViewModels
@model ForgotPasswordViewModel


@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="~/css/Account/register.css">

    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title ">DGS</h1>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                <form class="form-horizontal" asp-controller="Account" asp-action="ForgotPassword" method="post">
                    <center><h3>Forgot Password</h3></center>

                    <div asp-validation-summary="All" class="text-danger mt-4"></div>


                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input asp-for="Email" class="form-control" id="email" placeholder="Enter Company Email" />
                            </div>
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>



                    <div class="form-group ">
                        <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Submit</button>
                    </div>
                    <div class="login-register">
                        <a href="/Account/Login">Go to Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}