@{
    ViewBag.Title = "Reset Password Confirmation";
    Layout = "";
}
<center><h1>ResetPasswordConfirmation</h1></center>

<div class="container">


    <div style="padding-top:100px; padding-bottom:400px;"> 

        <center>
            <p>
                Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
            </p>
        </center>
    </div>


</div>