@{
    ViewBag.Title = "Verify Email";
    Layout = "";
}

<!--Content-->
<div class="main-panel" style="padding-top:100px; padding-bottom:500px;">
    <div class="d-flex justify-content-center ">

        <center>

            <h2>Thank you for verifying your email please login here</h2>
            <a href="/Account/Login">Go to Login </a>
        </center>
    </div>
</div>